<div id="resetDiv" class="welcome-pages">
    <a href="#"><img src="../../images/logo.png" alt=""/></a>
    <div class="welcome-form">
        <h1>Recovery Password</h1>
        <div class="form-body">
            <div class="form-field">
                <input type="password" id="newPass" class="success_input">
            </div>
            <div class="form-field">
                <input type="password" id="confirmPass" class="error_input">
            </div>
            <input type="button" id="savePass" value="Save">
        </div>
    </div>
</div>