<ul>
    <li>
        <div class="tempListItem" id="addDiv">
            <span>Add Template</span>
        </div>
    </li>
    <%tempList.forEach(function(template){%>
        <li>
            <div class="tempListItem" data-id="<%= template.id%>">
                <span><%= template.name%></span>
                <div class="onHover">
                    <button class="hovCreateD"><img src=".././images/user-plus-ico.png" alt=""/></button>
                    <button class="hovEditT"><img src=".././images/user-edit-ico.png" alt=""/></button>
                </div>
            </div>
        </li>
    <%})%>
</ul>