<div id="loginDiv">
    <a href="#"><img src="../../images/logo.png" alt=""/></a>
    <form id="logInForm">
        <h1>Sign in</h1>
        <div class="form-body">
            <%if(!isInvite){%>
                <input type="email" id="loginEmail" placeholder="Email Address">
            <%}%>
            <input type="password" id="loginPass" placeholder="Password">
            <%if(isInvite){%>
                <input type="password" id="confLoginPass" placeholder="Confirm password">
            <%}%>
            <div class="remember_check"><input type="checkbox" id="rememberMe"><label for="rememberMe"></label><span>Remember me</span></div>
            <input type="button" id="loginButton" value="Sign in">
            <%if(!isInvite){%>
                <a href="#forgotPassword" class="link">I forgot my password</a>
            <%}%>
            <!--<a href="#signup" class="link">I don`t have an account</a>-->
        </div>
    </form>
</div>