<div class="addItemLeft companyBlock">
    <ul class="tabs-container">
        <li><a class="active" href="javascript:;">Company</a></li>
        <li><a href="javascript:;">Second</a></li>
        <li><a href="javascript:;">Third</a></li>
    </ul>
</div>
<div class="tab-items">
    <div class="tab-item active">
        <div class="left">
            <div>
                <label for="edCompanyName">Company Name</label>
                <input type="text" id="edCompanyName" value="<%= tempCompany.name ? tempCompany.name : ''%>" placeholder="ie. McInnes Cooper">
            </div>
            <div>
                <label for="edCompanyEmail">Email</label>
                <input type="text" id="edCompanyEmail" value="<%= tempCompany.email ? tempCompany.email : ''%>" placeholder="ie. company@mail.com">
            </div>
            <div>
                <label for="edCompanyPhone">Phone</label>
                <input type="text" id="edCompanyPhone" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. 000-000-000">
            </div>
            <div>
                <label for="edCompanyAdress">Adress 1</label>
                <input type="text" id="edCompanyAdress" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. Adobe str.">
            </div>
            <div>
                <label for="edCompanyCountry">Country</label>
                <input type="text" id="edCompanyCountry" value="<%= tempCompany.country ? tempCompany.country : ''%>" placeholder="ie. Germany">
            </div>
            <div>
                <label for="edCompanyCity">City</label>
                <input type="text" id="edCompanyCity" value="<%= tempCompany.city ? tempCompany.city : ''%>" placeholder="ie. Berlin">
            </div>
            <div>
                <input type="button" id="comSaveBut" value="Save">
            </div>
        </div>
        <div class="right">
            <div class="companyLogo">
                <input style="display: none" type="file" id="inputImg" accept="image/*">
                <img id="compLogo" src="<%= tempCompany.logo.url%>">
                <label for="inputImg">Replace Picture</label>
            </div>
            <div>
                <label for="edCompanyAdress">Adress 2</label>
                <input type="text" id="edCompanyAdress2" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. Adobe str.">
            </div>
            <div>
                <label for="edCompanyState">State/Province</label>
                <input type="text" id="edCompanyState" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. State">
            </div>
            <div>
                <label for="edCompanyCode">Zip/Postal Code</label>
                <input type="text" id="edCompanyCode" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. Code">
            <div>
        </div>
    </div>
    <div class="tab-item">
        <span>"First" page</span>
    </div>
    <div class="tab-item">
        <span>"Second" page</span>
    </div>
</div>