<div class="addItemLeft">
    <ul class="tabs-container">
        <li><a class="active" href="javascript:;">Company</a></li>
        <li><a href="javascript:;">Second</a></li>
        <li><a href="javascript:;">Third</a></li>
    </ul>
</div>
<div class="tab-items">
    <div class="tab-item active">
        <label for="edCompanyName">Company Name</label></br>
        <input type="text" id="edCompanyName" value="<%= tempCompany.name ? tempCompany.name : ''%>" placeholder="ie. McInnes Cooper">

        <label for="edCompanyPhone">Phone</label></br>
        <input type="text" id="edCompanyPhone" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. 000-000-000">

        <label for="edCompanyAdress">Adress</label></br>
        <input type="text" id="edCompanyAdress" value="<%= tempCompany.address ? tempCompany.address : ''%>" placeholder="ie. Adobe str.">

        <label for="edCompanyEmail">Email</label></br>
        <input type="text" id="edCompanyEmail" value="<%= tempCompany.email ? tempCompany.email : ''%>" placeholder="ie. company@mail.com">

        <div>
            <input style="display: none" type="file" id="inputImg" accept="image/*">
            <img id="compLogo" src="<%= tempCompany.logo.url%>">
            <label for="inputImg">Upload picture</label>
        </div>
    </div>
    <div class="tab-item">
        <span>"First" page</span>
    </div>
    <div class="tab-item">
        <span>"Second" page</span>
    </div>
</div>