body {
  //padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leftMenu {
  width: 100px;
  height: 700px;
  float: left;
  background-color: #E0E3EF;
  display: none;
}

#topMenu {
  background-color: #E0E3EF;
  display: none;
}

#profileTop {
  margin-left: 500px;
}

#buttonLogout {
  margin-left: 1220px;
}

#loginDiv {
  top: 50%;
  left: 50%;
  height: 440px;
  width: 460px;
  position: absolute;
  margin-top: -170px;
  margin-left: -230px;
}

#logInForm {
  padding: 20px;
  border: 4px double black;
}

#signUpDiv {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
  padding: 20px;
  border: 4px double black;
}

#addUserForm {
  border: 4px double black;
  height: 200px;
  width: 500px;
  padding: 20px 30px;
}

#wrapper {
  margin: 20px;
  float: left;
}

#addUserContainer {
  padding-top: 20px;
}

#usersTable {
  width: 850px;
}