/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@font-face {
  font-family: 'OSR';
  src: url('fonts/opensans-regular-webfont.eot');
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff2') format('woff2'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'OSS';
  src: url('fonts/opensans-semibold-webfont.eot');
  src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-semibold-webfont.woff2') format('woff2'), url('fonts/opensans-semibold-webfont.woff') format('woff'), url('fonts/opensans-semibold-webfont.ttf') format('truetype'), url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: 'OSE';
  src: url('fonts/opensans-extrabold-webfont.eot');
  src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('fonts/opensans-extrabold-webfont.woff') format('woff'), url('fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'PLR';
  src: url('fonts/Palatino-Roman.eot?#iefix') format('embedded-opentype'), url('fonts/Palatino-Roman.otf') format('opentype'), url('fonts/Palatino-Roman.woff') format('woff'), url('fonts/Palatino-Roman.ttf') format('truetype'), url('fonts/Palatino-Roman.svg#Palatino-Roman') format('svg');
  font-weight: 400;
}
/* The element to apply the animation to */
a:hover,
input[type="button"] {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/welcome-bgr.png") no-repeat center #eeeeee;
}
body.loggedState {
  background-image: none;
  background-color: #ffffff;
}
body #topMenu,
body #leftMenu {
  display: none;
}
body.loggedState #topMenu,
body.loggedState #leftMenu {
  display: block;
}
a {
  color: #00B7FF;
}
#leftMenu {
  width: 6.8%;
  min-height: 630px;
  float: left;
  display: none;
  z-index: 1040;
  position: relative;
  background: #fff;
}
#topMenu {
  height: 123px;
}
#leftTopBar {
  background-color: #e31937;
  width: 37.9%;
  float: left;
  height: 100%;
}
#leftTopBar span {
  display: inline-block;
  margin: 29px 0 0 30px;
}
#leftTopBar a {
  font-family: 'OSS';
  color: #aeaeae;
  text-decoration: none;
  font-size: 18px;
  margin: 80px 0 0 24px;
  display: inline-block;
}
#middleTopBar {
  float: left;
  width: 31%;
  height: 100%;
  background-color: #7c7b7b;
}
#middleTopBar span {
  margin: 80px 0 0;
  font-family: 'OSS';
  color: #aeaeae;
  font-size: 18px;
  padding: 0 25px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
#middleTopBar span:after {
  display: block;
  content: '';
  width: 13px;
  height: 6px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#middleTopBar span:after {
  background: url("../images/arr-down.png") no-repeat center center;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
#middleTopBar span.opened:after {
  background: url("../images/select-arr-down.png") no-repeat center center;
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  -ms-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
#middleTopBar .closed + #iWantTemplates {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
#middleTopBar .opened + #iWantTemplates {
  background: #c1c1c1;
  padding: 7px;
  margin-top: 18px;
  position: relative;
  z-index: 1050;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#middleTopBar .opened + #iWantTemplates ul {
  background: #fff;
  width: 100%;
}
#middleTopBar .opened + #iWantTemplates ul li a {
  display: block;
  line-height: 36px;
  padding-left: 10px;
  color: #3d3d3d;
  font-size: 16px;
  text-decoration: none;
}
#middleTopBar .opened + #iWantTemplates ul li a:hover {
  background: #eaeaea;
}
#rightTopBar {
  float: left;
  width: 31.1%;
  height: 100%;
  background-color: #3d3d3d;
}
#rightTopBar div#profileTop {
  float: left;
  margin: 60px 0 0 22px;
}
#rightTopBar div#profileTop img {
  float: left;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
#rightTopBar div#profileTop a {
  float: left;
  text-decoration: none;
  font-family: 'OSS';
  color: #aeaeae;
  font-size: 18px;
  margin: 16px 0 0 10px;
}
#rightTopBar input {
  display: block;
  float: right;
  border: none;
  background: transparent;
  font-family: 'OSS';
  color: #ffffff;
  font-size: 18px;
  margin: 73px 37px 0 0;
}
.sidebar-menu {
  margin-right: 3px;
}
.sidebar-menu ul {
  padding: 0 17px;
  border: 1px solid #e6e6e7;
  height: calc(100vh-123px);
  border-left: none;
}
.sidebar-menu ul li {
  border-bottom: 1px solid #ededed;
  box-shadow: 0 1px 0 #f7f7f7;
  position: relative;
}
.sidebar-menu ul li a {
  display: block;
  height: 64px;
  text-align: center;
  font-family: 'OSS';
  font-size: 12px;
  text-decoration: none;
  color: #7c7b7b;
  outline: none !important;
  padding-top: 14px;
}
.sidebar-menu ul li a .cls-1 {
  fill: #7c7b7b;
  fill-rule: evenodd;
}
.sidebar-menu ul li a:hover,
.sidebar-menu ul li a.active {
  color: #e31937 !important;
}
.sidebar-menu ul li a:hover .cls-1,
.sidebar-menu ul li a.active .cls-1 {
  fill: #e31937;
}
.sidebar-menu ul li a span {
  display: block;
  padding-top: 5px;
}
.sidebar-menu ul li span.registrationsBadge {
  position: absolute;
  bottom: 50%;
  right: 50%;
  margin-bottom: -11px;
  margin-right: -18px;
  background: #75d96c;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-size: 11.6px;
  text-align: center;
  display: block;
}
#addUserForm {
  border: 1px solid black;
  height: 200px;
  width: 27%;
  padding: 20px 30px;
}
#wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper #documents:after {
  display: block;
  content: '';
  clear: both;
}
#loginDiv {
  margin: -300px 0 0 -225px;
  height: 600px;
}
#forgotDiv {
  margin: -290px 0 0 -225px;
  height: 580px;
}
#resetDiv {
  margin: -245px 0 0 -225px;
  height: 540px;
}
#resetDiv input[type="button"] {
  margin-top: 40px;
}
#signUpDiv {
  margin: -245px 0 0 -400px;
  height: 490px;
  width: 800px;
}
#signUpDiv .form-body {
  padding: 25px 26px;
}
#signUpDiv .form-body div {
  overflow: hidden;
}
#signUpDiv .form-body div.left {
  float: left;
}
#signUpDiv .form-body div.right {
  float: right;
}
#signUpDiv .form-body div.form-field {
  width: 360px;
  margin-bottom: 7px;
}
#signUpDiv .form-body div.form-field input:first-child {
  margin-bottom: 31px;
}
#signUpDiv .form-body div:first-child {
  margin-bottom: 0px;
}
#signUpDiv .form-body div .remember_check {
  float: left;
}
#signUpDiv .form-body div .remember_check span {
  width: 95px;
}
#signUpDiv .form-body div #signupButton {
  float: right;
  margin-top: 23px;
}
.welcome-pages {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
}
.welcome-pages a {
  display: block;
  text-align: center;
}
.welcome-pages a.termsLink {
  margin: 1px 0 0 102px;
  font-family: 'OSS';
  font-size: 14px;
  line-height: 24px;
  color: #e31937;
  text-decoration: none;
  text-align: left;
  float: left;
}
.welcome-pages a:hover {
  text-decoration: underline;
}
.welcome-pages .welcome-form {
  margin-top: 65px;
  background-color: #fff;
}
.welcome-pages .welcome-form h1 {
  background-color: #e31937;
  line-height: 62px;
  font-family: 'OSR';
  font-size: 24px;
  color: #fff;
  padding: 0 20px;
}
.welcome-pages .welcome-form #innerForgot .form-field {
  margin-bottom: 45px;
}
.welcome-pages .welcome-form .form-body {
  border: 1px solid #d0d0d0;
  border-top: none;
  padding: 30px 44px 17px;
}
.welcome-pages .welcome-form .form-body p {
  font-family: 'PLR';
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 45px;
  color: #262626;
}
.welcome-pages .welcome-form .form-body .form-field {
  position: relative;
}
.welcome-pages .welcome-form .form-body .form-field:first-child {
  margin-bottom: 45px;
}
.welcome-pages .welcome-form .form-body .form-field input[type="email"],
.welcome-pages .welcome-form .form-body .form-field input[type="password"],
.welcome-pages .welcome-form .form-body .form-field input[type="text"],
.welcome-pages .welcome-form .form-body .form-field input[type="email"] {
  width: 331px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 50px;
  color: #878787;
  padding: 0 15px;
  font-family: 'OSS';
}
.welcome-pages .welcome-form .form-body .form-field input[type="email"].error_input,
.welcome-pages .welcome-form .form-body .form-field input[type="password"].error_input,
.welcome-pages .welcome-form .form-body .form-field input[type="text"].error_input,
.welcome-pages .welcome-form .form-body .form-field input[type="email"].error_input {
  border-color: #e31937;
}
.welcome-pages .welcome-form .form-body .form-field input[type="email"].success_input,
.welcome-pages .welcome-form .form-body .form-field input[type="password"].success_input,
.welcome-pages .welcome-form .form-body .form-field input[type="text"].success_input,
.welcome-pages .welcome-form .form-body .form-field input[type="email"].success_input {
  border-color: #75d96c;
}
.welcome-pages .welcome-form .form-body .form-field .error_msg {
  position: absolute;
  color: #e31937;
  font-family: 'OSR';
  font-size: 14px;
  top: 61px;
}
.welcome-pages .welcome-form .form-body input[type="checkbox"] {
  display: none;
}
.welcome-pages .welcome-form .form-body .remember_check {
  margin: 37px 0 17px;
  overflow: hidden;
}
.welcome-pages .welcome-form .form-body .remember_check label {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #909090;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 6px;
}
.welcome-pages .welcome-form .form-body .remember_check input[type="checkbox"]:checked + label {
  border-color: #e31937;
}
.welcome-pages .welcome-form .form-body .remember_check input[type="checkbox"]:checked + label:after {
  content: '';
  background: url("../images/check-red.png") no-repeat center;
  height: 13px;
  width: 17px;
  position: absolute;
  top: 5px;
  left: 2px;
}
.welcome-pages .welcome-form .form-body .remember_check span {
  display: block;
  font-family: 'OSS';
  font-size: 14px;
  line-height: 24px;
  color: #909090;
  margin-left: 32px;
  width: 150px;
}
.welcome-pages .welcome-form .form-body .links {
  margin-top: 51px;
  text-align: center;
  padding-bottom: 14px;
}
.welcome-pages .welcome-form .form-body .links a {
  font-family: 'OSR';
  font-size: 14px;
  display: block;
  color: #909090;
  float: right;
  text-decoration: none;
}
.welcome-pages .welcome-form .form-body .links a:first-child {
  float: left;
}
.welcome-pages .welcome-form .form-body .links a:hover {
  color: #e31937;
}
.welcome-pages .welcome-form .form-body .hideRow {
  margin-top: 51px;
  display: block;
  text-align: center;
  font-family: 'OSR';
  font-size: 14px;
  color: #909090;
}
.welcome-pages .welcome-form .form-body .hideRow a {
  color: #909090;
  display: inline;
  text-decoration: none;
}
.welcome-pages .welcome-form .form-body .hideRow a:hover {
  color: #e31937;
}
.welcome-pages .welcome-form .form-body input[type="button"] {
  background-color: #c4c4c4;
  border: none;
  margin: 0 auto;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  display: block;
  font-family: 'OSE';
  font-size: 18px;
  color: #fff;
}
.welcome-pages .welcome-form .form-body input[type="button"]:hover {
  background-color: #e31937;
}
.welcome-pages .welcome-form .form-body input[type="button"]#loginButton,
.welcome-pages .welcome-form .form-body input[type="button"]#savePass {
  padding: 0 50px;
}
.addItemLeft {
  width: 31.1%;
  float: left;
  color: #eaeaea;
}
#searchContainer {
  background: #3d3d3d;
  min-height: 670px;
  height: calc(100vh - 123px);
  position: relative;
}
#searchContainer > div {
  padding: 6% 4.3% 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#searchContainer > div > div {
  overflow: hidden;
}
#searchContainer > div h2 {
  font-size: 24px;
  font-family: 'OSS';
  color: #fff;
}
#searchContainer > div p {
  font-size: 16px;
  font-family: 'OSS';
  color: #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  text-transform: uppercase;
  padding: 20px 0 7px;
  margin-bottom: 11px;
  clear: both;
}
#searchContainer > div #closeIco {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #d0d0d1;
  text-decoration: none;
  display: block;
}
#searchContainer > div #closeIco:hover {
  color: #e31937;
}
#searchContainer > div label {
  font-size: 16px;
  font-family: 'OSS';
  color: #fff;
}
#searchContainer > div input[type="text"] {
  background: #eaeaea;
  border: none;
  height: 50px;
  line-height: 50px;
  margin-bottom: 12px;
  padding: 0 4%;
}
#searchContainer > div input[type="radio"] {
  display: none;
}
#searchContainer > div .filter .radio_check:nth-child(2n+1) {
  width: 46%;
}
#searchContainer > div .sort .radio_check + .radio_check {
  width: 46%;
}
#searchContainer > div .radio_check {
  margin: 2px 0 2px;
  overflow: hidden;
  width: 54%;
  float: left;
}
#searchContainer > div .radio_check label {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #909090;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 6px;
}
#searchContainer > div .radio_check input[type="radio"]:checked + label:after {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #eaeaea;
  border-radius: 5px;
}
#searchContainer > div .radio_check span {
  display: block;
  font-family: 'OSS';
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 32px;
  width: 150px;
}
#searchContainer > div .search label {
  display: block;
  float: left;
  width: 23.4%;
  line-height: 50px;
}
#searchContainer > div .search input[type="text"] {
  width: 68.6%;
}
#searchContainer > div .search .date {
  overflow: hidden;
}
#searchContainer > div .search .date input {
  float: left;
  width: 24.47%;
  background-image: url('../images/calendar-ico.svg');
  background-repeat: no-repeat;
  background-position: 91% center;
  margin-bottom: 0;
}
#searchContainer > div .search .date input:focus {
  background-image: url('../images/calendar-ico-active.svg');
}
#searchContainer > div .search .date input + label {
  width: 11.5%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.7%;
}
#searchContainer > div input[type="submit"] {
  width: 100%;
  text-align: center;
  clear: both;
  margin-top: 22px;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
}
#searchContainer > div input[type="submit"]:hover {
  background-color: #e31937;
}
.topButtons {
  height: 60px;
  color: #7c7b7b;
  font-family: 'OSS';
  font-size: 16px;
  padding-left: 12px;
  overflow: hidden;
}
.topButtons .btnViewType {
  float: left;
  line-height: 60px;
  padding-left: 15px;
  background: none;
}
.topButtons .btnViewType:hover,
.topButtons .btnViewType.active {
  color: #e31937;
  text-decoration: none !important;
}
.topButtons .filters {
  float: left;
  line-height: 70px;
  padding-left: 12px;
  background: none;
}
.topButtons .filters .cls-1 {
  fill: #7c7b7b;
}
.topButtons .filters:hover .cls-1 {
  fill: #e31937;
}
#templateList {
  width: 31%;
  min-height: 610px;
  height: calc(100vh - 183px);
  float: left;
  display: block;
}
#templateList ul li {
  height: 35px;
  line-height: 35px;
  padding-left: 38px;
  margin-bottom: 6px;
}
#templateList ul li .templateListName {
  position: relative;
  font-family: 'OSR';
  font-size: 16px;
}
#templateList ul li .templateListName:before {
  content: '+';
  position: absolute;
  left: -14px;
  font-size: 18px;
  top: -2px;
}
#templateList ul li.active {
  background: #d0d0d1;
}
#templateList ul li.active .templateListName:before {
  content: '-';
  left: -13px;
}
#templateList ul li.active .templateListName:after {
  position: absolute;
  content: "♦";
  color: #d0d0d1;
  left: 100%;
  font-size: 1.5em;
  margin-left: -0.4em;
  top: -1px;
  z-index: 1;
}
#templateList ul li svg {
  float: left;
  margin-right: 10px;
}
#documentList {
  float: left;
  width: 31.1%;
  background-color: rgba(220, 220, 220, 0.4);
  min-height: 610px;
  height: calc(100vh - 183px);
}
#documentList .doc-list {
  display: table;
  width: 100%;
}
#documentList .doc-list li {
  background-color: transparent;
  display: table-row;
  width: 100%;
}
#documentList .doc-list li span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-image: url("../images/list-view-doc-ico.png");
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 7px;
  display: table-cell;
  padding-left: 50px;
  max-width: 90%;
  min-width: 300px;
  font-family: 'OSR';
  font-size: 16px;
  line-height: 20px;
}
#documentList .doc-list li div {
  min-width: 30px;
  background-image: url("../images/list-view-doc-edit-ico.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 0 0;
  background-color: transparent;
  height: 100%;
  display: table-cell;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: middle;
}
#documentList .doc-list li div a {
  display: block;
}
#documentList .doc-list li:hover span {
  background-color: #fff;
}
#documentList .doc-list li:hover div {
  animation-name: doc-hover;
  animation-duration: .5s;
  background-color: #fff;
}
#documentList .doc-grid {
  overflow: hidden;
  padding-bottom: 80px;
}
#documentList .doc-grid > li {
  float: left;
  width: 32.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 200px;
  text-align: center;
  position: relative;
}
#documentList .doc-grid > li:hover .documentInfo {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px) rotate(0deg) scale(1);
  -moz-transform: translate(0px) rotate(0deg) scale(1);
  -o-transform: translate(0px) rotate(0deg) scale(1);
  -ms-transform: translate(0px) rotate(0deg) scale(1);
  transform: translate(0px) rotate(0deg) scale(1);
}
#documentList .doc-grid > li img {
  margin: 20px 0;
}
#documentList .doc-grid > li > span {
  font-family: 'OSR';
  display: block;
  color: #3d3d3d;
  padding: 0 5%;
  text-align: center;
  word-wrap: break-word;
}
#documentList .doc-grid > li .documentInfo {
  width: 330px;
  height: auto;
  padding: 10px;
  left: 0;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 170px;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  border: 1px solid #E31937;
  -webkit-transform: translate(35px) rotate(25deg) scale(1.5);
  -moz-transform: translate(35px) rotate(25deg) scale(1.5);
  -o-transform: translate(35px) rotate(25deg) scale(1.5);
  -ms-transform: translate(35px) rotate(25deg) scale(1.5);
  transform: translate(35px) rotate(25deg) scale(1.5);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 30;
}
#documentList .doc-grid > li .documentInfo:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 25%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid #E31937;
}
#documentList .doc-grid > li .documentInfo span {
  display: block;
  text-align: left;
  color: #7c7b7b;
  font-family: 'OSS';
  font-size: 12px;
}
#documentList .doc-grid > li:nth-child(3n) .documentInfo {
  right: 0;
  left: auto;
}
#documentList .doc-grid > li:nth-child(3n) .documentInfo:before {
  left: auto;
  right: 25%;
}
.mCustomScrollBox.mCSB_inside > .mCSB_container {
  margin-right: 15px;
}
.mCustomScrollBox .mCS-dark.mCSB_scrollTools {
  top: 8px;
  bottom: 8px;
}
.mCustomScrollBox .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #878787;
  background-color: rgba(135, 135, 135, 0.15);
}
.mCustomScrollBox .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #a0a0a0;
  background-color: rgba(160, 160, 160, 0.8);
  width: 2px;
}
.mCustomScrollBox .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCustomScrollBox .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCustomScrollBox .mCS-dark.mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar {
  background-color: #e51a36;
}
.centerBlock {
  background-color: #3d3d3d;
}
.centerBlock > div {
  padding: 22px 44px 35px;
  position: relative;
  min-height: 670px;
}
.centerBlock > div h2 {
  font-family: 'OSS';
  font-size: 24px;
  color: #fff;
  margin-bottom: 14px;
}
.centerBlock > div p {
  font-family: 'OSS';
  font-size: 14px;
  color: rgba(234, 234, 234, 0.5);
  margin-bottom: 14px;
}
.centerBlock > div div label {
  font-family: 'OSS';
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
  display: block;
}
.centerBlock > div div label span {
  color: #e31937;
}
.centerBlock > div div input[type="text"],
.centerBlock > div div input[type="email"],
.centerBlock > div div textarea {
  background: #eaeaea;
  height: 50px;
  width: 92%;
  line-height: 50px;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
.centerBlock > div div textarea {
  min-height: 320px;
}
.centerBlock > div div input[type="button"] {
  position: absolute;
  bottom: 35px;
  width: calc(100% - 88px);
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
}
.centerBlock > div div.oneRow {
  overflow: hidden;
}
.centerBlock > div div.oneRow div {
  width: 60%;
  float: left;
}
.centerBlock > div div.oneRow div:last-child {
  width: 37%;
  float: right;
}
.textareaBlock {
  margin: 33px 23px;
  position: relative;
  min-height: 670px;
  width: 58%;
  float: left;
}
.textareaBlock textarea {
  width: 100%;
  min-height: 630px;
  padding: 20px;
  resize: none;
  background: #eaeaea;
  border: none;
}
#documents #searchContainer.hidden {
  display: none;
}
#documents .templateName:hover,
#documents .documentItem {
  cursor: pointer;
}
#tableDiv {
  float: left;
  display: block;
  width: 58%;
  margin: 0px 25px 25px;
}
#tableDiv #searchBox {
  color: #7c7b7b;
  font-family: "OSS";
  font-size: 16px;
  height: 80px;
  overflow: hidden;
  padding-left: 12px;
}
#tableDiv #searchBox button {
  background: none;
  float: left;
  line-height: 90px;
}
#tableDiv #searchBox button .cls-1 {
  fill: #7c7b7b;
}
#tableDiv #searchBox button:hover .cls-1 {
  fill: #e31937;
}
#tableDiv #searchBox input {
  line-height: 34px;
  background: #eaeaea;
  border: none;
  margin-left: 12px;
  margin-top: 21px;
  padding-left: 5px;
}
#usersTable {
  width: 100%;
  border: 1px solid #d0d0d1;
}
#usersTable thead {
  background: #eaeaea;
  font-family: 'OSS';
  text-transform: uppercase;
}
#usersTable thead th {
  height: 44px;
  line-height: 44px;
}
#usersTable td {
  font-family: 'OSR';
  line-height: 36px;
}
#usersTable td.rRole {
  font-family: 'OSS';
}
#usersTable td.rDisk {
  font-family: 'OSS';
}
#usersTable td.rDisk span.active {
  color: #7bdb73;
}
#usersTable td.rDisk span.disable {
  color: #E31937;
}
#usersTable td.rCheck input[type="checkbox"] {
  display: none;
}
#usersTable td.rCheck label {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #909090;
  position: relative;
  cursor: pointer;
  margin: 10px auto 0px;
}
#usersTable td.rCheck input[type="checkbox"]:checked + label {
  border: 1px solid #666666;
}
#usersTable td.rCheck input[type="checkbox"]:checked + label:after {
  content: '';
  background: url("../images/check.png") no-repeat center;
  height: 13px;
  width: 17px;
  position: absolute;
  top: 5px;
  left: 2px;
}
#usersTable .editUserRow > td > div {
  position: relative;
  width: 100%;
  text-align: left;
}
#usersTable .editUserRow > td > div:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 5px;
  left: 1%;
}
#usersTable .editUserRow > td > div > div > label,
#usersTable .editUserRow > td > div > div > div > label {
  display: block;
  color: #7c7b7b;
  font-family: 'OSS';
  font-size: 16px;
  margin-bottom: 8px;
}
#usersTable .editUserRow > td > div .editUser-left {
  width: 30.2%;
  float: left;
  padding: 15px 1.4%;
}
#usersTable .editUserRow > td > div .editUser-left input {
  background: #eaeaea;
  border: none;
  height: 50px;
  line-height: 50px;
  padding: 0 4%;
  width: 92%;
}
#usersTable .editUserRow > td > div .editUser-left input.first {
  margin-bottom: 8px;
}
#usersTable .editUserRow > td > div .editUser-centerLeft {
  width: 30.2%;
  float: left;
  padding: 15px 1.4%;
}
#usersTable .editUserRow > td > div .editUser-centerLeft input[type="text"] {
  background: #eaeaea;
  border: none;
  height: 50px;
  line-height: 50px;
  padding: 0 4%;
  width: 92%;
}
#usersTable .editUserRow > td > div .editUser-centerLeft input[type="text"].first {
  margin-bottom: 8px;
}
#usersTable .editUserRow > td > div .check {
  margin: 45px 0 17px;
  overflow: hidden;
  height: 40px;
}
#usersTable .editUserRow > td > div .check input[type="checkbox"] {
  display: none;
}
#usersTable .editUserRow > td > div .check label {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #909090;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 6px;
}
#usersTable .editUserRow > td > div .check input[type="checkbox"]:checked + label {
  border-color: #e31937;
}
#usersTable .editUserRow > td > div .check input[type="checkbox"]:checked + label:after {
  content: '';
  background: url("../images/check-red.png") no-repeat center;
  height: 13px;
  width: 17px;
  position: absolute;
  top: 5px;
  left: 2px;
}
#usersTable .editUserRow > td > div .check span {
  display: block;
  font-family: 'OSS';
  font-size: 16px;
  line-height: 14px;
  color: #909090;
  margin-left: 32px;
  width: 185px;
  padding-top: 4px;
}
#usersTable .editUserRow > td > div .editUser-right {
  width: 31.2%;
  float: left;
  padding: 15px 1.4%;
}
#usersTable .editUserRow > td > div .editUser-right .sel_container {
  margin-top: 0;
  float: left;
  width: 60%;
  margin-bottom: 32px;
}
#usersTable .editUserRow > td > div .editUser-right .userStatus {
  float: right;
  width: 37%;
  margin-left: 3%;
  text-align: center;
}
#usersTable .editUserRow > td > div .editUser-right .userStatus span {
  color: #fafaf7;
  font-family: "OSS";
  font-size: 16px;
  line-height: 25px;
  padding: 0 4px;
}
#usersTable .editUserRow > td > div .editUser-right .userStatus span.disable {
  background: #e31937;
}
#usersTable .editUserRow > td > div .editUser-right .userStatus span.active {
  background: #7bdb73;
}
#usersTable .editUserRow > td > div .editUser-right input[type="button"] {
  background-color: #c4c4c4;
  border: none;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  font-family: 'OSE';
  font-size: 18px;
  color: #fff;
}
#usersTable .editUserRow > td > div .editUser-right input[type="button"]:hover {
  background-color: #e31937;
}
#usersTable th,
#usersTable td {
  border: 2px solid #d0d0d1;
  text-align: center;
  color: #3d3d3d;
  font-size: 16px;
}
#addSelects {
  overflow: hidden;
}
.inviteBtn {
  clear: both;
}
#hideCompany {
  display: block;
  width: 60%;
  float: left;
}
#hideCompany.hide {
  display: none;
}
#hideCompany.hide + .sel_container {
  float: none;
  width: 100%;
}
#hideCompany + .sel_container {
  float: right;
  width: 37%;
}
.sel_container {
  position: relative;
  margin-top: 15px;
}
.sel_container a {
  background: url("../images/select-arr-down.png") no-repeat 95% center #eaeaea;
  height: 50px;
  line-height: 50px;
  padding: 0 4%;
  width: 92%;
  display: block;
  color: #3d3d3d;
  text-decoration: none;
}
.sel_container ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 100%;
  height: 150px;
  overflow-y: auto;
}
.sel_container ul li {
  height: 50px;
  line-height: 50px;
  padding: 0 4%;
  color: #3d3d3d;
  cursor: pointer;
}
.sel_container ul li:nth-child(odd) {
  background: #c1c1c1;
}
.sel_container ul li:nth-child(even) {
  background: #dadada;
}
.sel_container ul li#create_company {
  overflow: hidden;
  position: relative;
  padding: 0;
}
.sel_container ul li#create_company input[type="button"] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #e31937;
  text-align: center;
  line-height: 25px;
  bottom: 11px;
  right: 10px;
  background: #c1c1c1;
}
.sel_container.active a {
  background-image: url("../images/select-arr-top.png");
}
.sel_container.active ul {
  display: block;
}
.dialogWindow {
  border: 4px double black;
  background-color: white;
  position: fixed !important;
}
.tabs {
  margin: 0;
  padding: 0;
}
.tabs li a {
  color: #9E9E9E;
}
.tabs li a.active {
  color: #0a13cc !important;
}
.tabs-items {
  display: table-cell;
  border-left: 2px solid #e5e5e5;
}
.tabs-items .tabs-item {
  display: none;
}
.tabs-items .openTab {
  display: block !important;
}
.navBut.active {
  color: #0a13cc !important;
}
.userRow.notActiv {
  color: darkgrey;
}
.userRow.activeRow {
  background-color: #cbcaca;
}
.tempGrid {
  width: 100px;
  height: 120px;
  display: block;
  float: left;
  margin: 10px 10px;
  text-align: center;
}
#allTemplatesCont {
  padding: 30px 0 40px 0;
  overflow: hidden;
}
#allTemplatesCont .tempGrid {
  position: relative;
  text-align: center;
  width: 106px;
  margin: 10px 25px;
}
#allTemplatesCont .tempGrid.thisLinked:before {
  content: '';
  position: absolute;
  background: url('../images/link-ico.png') no-repeat;
  top: 0;
  right: 0;
  width: 31px;
  height: 31px;
}
#allTemplatesCont .tempGrid > img {
  display: block;
  margin: 11px auto;
}
#allTemplatesCont .tempGrid > span {
  font-family: 'OSR';
  font-size: 16px;
  color: #3d3d3d;
}
#allTemplatesCont .tempGrid .whenHover {
  position: absolute;
  top: 0;
  width: 106px;
  height: 102px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#allTemplatesCont .tempGrid .whenHover button {
  background: none;
  color: #dcdcdc;
  font-family: 'OSR';
  font-size: 12px;
  display: inline;
}
#allTemplatesCont .tempGrid .whenHover button:hover {
  text-decoration: underline;
  text-decoration-color: #E31937;
  -moz-text-decoration-color: #E31937;
}
#allTemplatesCont .tempGrid .whenHover button.hovCreateD {
  margin: 15px 15px 0;
}
#allTemplatesCont .tempGrid .whenHover button.hovEditT {
  margin-top: 25px;
}
#allTemplatesCont .tempGrid:hover .whenHover {
  opacity: 1;
}
#allTemplatesCont > ul {
  width: 100%;
}
#allTemplatesCont > ul li {
  font-family: 'OSR';
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 3px;
  padding-left: 20px;
  width: calc(33% - 21px);
  border-right: 1px solid #e6e6e7;
}
#allTemplatesCont > ul li #addDiv {
  line-height: 43px;
  height: 43px;
}
#allTemplatesCont > ul li #addDiv:before {
  content: '+';
  width: 43px;
  height: 43px;
  background: #eaeaea;
  border-radius: 50%;
  color: #E31937;
  line-height: 38px;
  text-align: center;
  font-size: 39px;
  display: block;
  position: absolute;
  left: 0;
  cursor: pointer;
  font-weight: 300;
}
#allTemplatesCont > ul li > div {
  position: relative;
  padding-left: 50px;
  height: 36px;
  overflow: hidden;
}
#allTemplatesCont > ul li > div:before {
  content: '';
  background: url('../images/small-doc-ico.png') no-repeat center;
  width: 43px;
  height: 36px;
  display: block;
  position: absolute;
  left: 0;
}
#allTemplatesCont > ul li > div span {
  float: left;
}
#allTemplatesCont > ul li > div .onHover {
  display: none;
  float: right;
  margin-right: 11px;
}
#allTemplatesCont > ul li > div .onHover button {
  background: none;
  height: 36px;
}
#allTemplatesCont > ul li > div .onHover button img {
  margin-top: 6px;
}
#allTemplatesCont > ul li:hover {
  background: #eaeaea;
  cursor: pointer;
}
#allTemplatesCont > ul li:hover .onHover {
  display: block;
}
.docGrid {
  width: 100px;
  height: 120px;
  display: block;
  float: left;
  margin: 10px 10px;
}
.canvasDialog {
  border: 2px solid black;
}
.canvasDialog canvas {
  border: 2px solid black;
}
#leftPreview {
  width: 57%;
  height: 600px;
  display: block;
  float: left;
}
#linksTable {
  position: relative;
  width: 100%;
}
#previewContainer {
  overflow-y: auto;
  height: 500px;
}
#createDoc {
  float: right;
  margin-top: 30px;
}
.rCheck {
  text-align: center;
}
#listWrap {
  float: left;
}
#adminClient {
  padding: 0 26px;
  overflow: hidden;
  margin-top: 45px;
}
#adminClient span {
  width: 50%;
  cursor: pointer;
  display: block;
  float: left;
  color: #3d3d3d;
  font-family: 'OSR';
  font-size: 16px;
  border-bottom: 3px solid #878787;
  padding-bottom: 9px;
}
#adminClient span:nth-child(2) {
  float: right;
  text-align: right;
}
#adminClient span.active {
  color: #bfbfbf;
  border-bottom: 3px solid #e31937;
}
#leftNavigate {
  padding: 0 26px;
  overflow: hidden;
  margin-top: 45px;
}
#leftNavigate li {
  width: 50%;
  float: left;
}
#leftNavigate li:nth-child(2) {
  float: right;
  text-align: right;
}
#leftNavigate li a {
  display: block;
  color: #adadad;
  text-decoration: none;
  outline: none !important;
  font-family: 'OSR';
  font-size: 16px;
  border-bottom: 3px solid #b7b7b7;
  padding-bottom: 9px;
}
#leftNavigate li a.active {
  color: #3d3d3d;
  border-bottom: 3px solid #e31937;
}
.selOnInput {
  cursor: pointer;
}
.userRow:not(.activeRow):hover {
  background-color: #eee;
}
.hideRow {
  display: none;
}
.link_row.activeRow {
  display: none;
}
#currentSign {
  width: 100px;
  height: 70px;
}
.main_state .linked_type {
  display: none;
}
.linked_state .main_type {
  display: none;
}
div#ui-datepicker-div.ui-datepicker {
  width: auto;
  padding: 0;
}
div#ui-datepicker-div.ui-datepicker,
div#ui-datepicker-div.ui-datepicker * {
  border: 0;
  border-radius: 0;
}
div#ui-datepicker-div.ui-datepicker table {
  background: #d6d4d4;
  margin: 0;
}
div#ui-datepicker-div.ui-datepicker table thead {
  position: relative;
}
div#ui-datepicker-div.ui-datepicker table thead th {
  padding: 1.1em 1.2em;
}
div#ui-datepicker-div.ui-datepicker table thead th:first-child {
  padding-left: .78em;
}
div#ui-datepicker-div.ui-datepicker table thead th:last-child {
  padding-right: .78em;
}
div#ui-datepicker-div.ui-datepicker table tbody tr:last-child td {
  padding-bottom: 2px;
}
div#ui-datepicker-div.ui-datepicker table tbody td {
  padding: 0;
}
div#ui-datepicker-div.ui-datepicker table tbody td a {
  text-align: center;
  font-family: 'OSS';
  font-size: 1.2em;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: auto;
  padding: 0;
}
div#ui-datepicker-div.ui-datepicker table tbody td a:hover {
  color: #E31937;
}
div#ui-datepicker-div.ui-datepicker table tbody td a.ui-state-default {
  background: none;
}
div#ui-datepicker-div.ui-datepicker table tbody td a.ui-state-active {
  background: #fff;
}
div#ui-datepicker-div.ui-datepicker table tbody td a.ui-state-highlight {
  background: #aeadad;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header {
  background: #e31937;
  position: relative;
  padding: 0.7em 0;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a {
  border: 1px solid transparent;
  top: 10px;
  border-radius: 50%;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a.ui-datepicker-prev-hover,
div#ui-datepicker-div.ui-datepicker .ui-widget-header a.ui-datepicker-next-hover {
  background: none;
  border: 1px solid #fff;
  top: 10px;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a.ui-datepicker-prev-hover {
  left: 2px;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a.ui-datepicker-next-hover {
  right: 2px;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a span {
  margin-left: 0;
  margin-top: 0;
  top: 23%;
  background-image: url("../images/date-arrows.png");
  background-color: transparent;
  background-repeat: no-repeat;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a.ui-datepicker-prev span {
  left: 27%;
  right: auto;
  background-position: 0 0;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header a.ui-datepicker-next span {
  right: 23%;
  left: auto;
  background-position: 100% 0;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header .ui-datepicker-title select {
  text-transform: uppercase;
  font-family: 'OSS';
  background-color: #e31937;
  color: #fff;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header .ui-datepicker-title select option {
  background-color: #fff;
  color: #000;
}
.messageItem {
  display: block;
  float: left;
  height: auto;
  width: 100%;
  padding: 25px 0;
  border-bottom: 10px solid #ededed;
}
.messageItem .photoBox {
  min-height: 100px;
  width: 140px;
  border-right: 1px solid #ededed;
  float: left;
  text-align: center;
}
.messageItem .photoBox img {
  display: block;
  width: 46px;
  height: 46px;
  margin: 10px auto;
  border: 2px solid #ededed;
  border-radius: 50%;
}
.messageItem .photoBox span {
  font-family: 'OSS';
  font-size: 18px;
  color: #3d3d3d;
}
.messageItem .infoBox div {
  overflow: hidden;
  position: relative;
  padding: 0 15px;
}
.messageItem .infoBox div h3 {
  float: left;
  font-family: 'OSS';
  font-size: 20px;
  color: #3d3d3d;
}
.messageItem .infoBox div span {
  color: #7c7b7b;
  font-size: 14px;
  float: right;
}
.messageItem .infoBox div.messageBody {
  font-family: 'PLR';
  font-size: 16px;
  color: #262626;
  margin-top: 17px;
}
.messageItem .infoBox a.more {
  display: block;
  position: absolute;
  top: 86px;
  right: 15px;
  width: 26px;
  height: 6px;
  font-family: 'OSS';
  font-size: 36px;
  color: #E31937;
  text-decoration: none;
}
.tab-item {
  display: none;
}
.tab-item.active {
  display: block;
}
.termsOfServiceDialog {
  min-width: 900px;
}
.termsOfServiceDialog.ui-dialog {
  color: #262626;
}
.termsOfServiceDialog.ui-dialog .ui-widget-header {
  display: none !important;
}
.termsOfServiceDialog.ui-dialog .panel-heading {
  font-family: 'OSS';
  font-size: 24px;
  text-align: center;
  padding: 16px 0 35px;
}
.termsOfServiceDialog.ui-dialog .panel-body p {
  font-family: 'PLR';
  font-size: 16px;
  line-height: 20px;
}
.termsOfServiceDialog.ui-dialog .acceptBtn {
  text-align: center;
  padding: 45px 0;
}
.termsOfServiceDialog.ui-dialog .acceptBtn #acceptBtn {
  display: inline-block;
  padding: 0 47px;
  line-height: 50px;
  font-size: 18px;
  font-family: 'OSE';
  background: #878787;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.termsOfServiceDialog.ui-dialog .acceptBtn #acceptBtn:hover {
  background: #c3c3c3;
}
.profileForm {
  overflow: hidden;
  padding: 20px 0 0 20px;
  border-right: 1px solid #e7e6e6;
  width: calc(31.1% - 20px);
}
.profileForm > div {
  position: relative;
  min-height: 670px;
}
.profileForm > div.left {
  float: left;
  width: 50%;
}
.profileForm > div.right {
  float: right;
  width: 40%;
  text-align: center;
}
.profileForm > div.right .avatar {
  margin-bottom: 40px;
}
.profileForm > div.right .avatar #avatar {
  border-radius: 50%;
  border: 2px solid #c4c4c4;
}
.profileForm > div.right span {
  font-family: 'OSS';
  font-size: 16px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
.profileForm > div div label {
  font-family: 'OSS';
  font-size: 16px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
.profileForm > div div input[type="text"],
.profileForm > div div input[type="password"] {
  background: #eaeaea;
  height: 50px;
  width: 92%;
  line-height: 50px;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
.profileForm > div div input[type="button"] {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
  margin-top: 10px;
}
.companyBlock {
  overflow: hidden;
  padding: 50px 40px 0 20px;
  border-right: 1px solid #e7e6e6;
  width: calc(31.1% - 60px);
}
.companyBlock ul {
  position: relative;
  min-height: 670px;
}
.companyBlock ul li a {
  color: #adadad;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 45px;
  border-bottom: 3px solid #eaeaea;
  outline: none !important;
}
.companyBlock ul li a.active {
  color: #3d3d3d;
  border-bottom-color: #E31937;
}
.tab-items {
  display: block;
  float: left;
  height: calc(-83vh);
  min-height: 610px;
  padding: 50px 40px 0 20px;
  width: calc(31% - 60px);
}
.tab-items .tab-item > div {
  position: relative;
  min-height: 670px;
  width: 45%;
}
.tab-items .tab-item > div.left {
  float: left;
}
.tab-items .tab-item > div.right {
  float: right;
}
.tab-items .tab-item > div.right .companyLogo {
  text-align: center;
  min-height: 164px;
  max-height: 164px;
  padding-top: 100px;
}
.tab-items .tab-item > div.right .companyLogo label {
  font-family: 'OSR';
  margin-top: 40px;
  font-size: 14px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
.tab-items .tab-item > div div label {
  font-family: 'OSS';
  font-size: 16px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
.tab-items .tab-item > div div input[type="text"] {
  background: #eaeaea;
  height: 50px;
  width: 92%;
  line-height: 50px;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
.tab-items .tab-item > div div input[type="button"] {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
  margin-top: 40px;
}
#registrations {
  overflow: hidden;
  float: left;
  min-height: 610px;
  padding: 50px 20px 0 20px;
  width: calc(62.1% - 40px);
}
#registrations h2 {
  font-family: 'OSS';
  font-size: 24px;
  color: #3d3d3d;
  padding-bottom: 15px;
}
#registrations .firstTableHeadline h2 {
  float: left;
}
#registrations .firstTableHeadline .info {
  float: right;
}
#registrations .firstTableHeadline .info span {
  display: inline-block;
  margin-left: 18px;
}
#registrations .pending {
  margin-bottom: 40px;
}
#registrations span {
  font-family: 'OSS';
  font-size: 16px;
  color: #fafaf7;
  line-height: 25px;
  padding: 0 4px;
}
#registrations span.confirm {
  background: #7bdb73;
}
#registrations span.disable {
  background: #E31937;
}
#registrations #newUserTable {
  width: 100%;
  border: 1px solid #d0d0d1;
}
#registrations #newUserTable thead {
  background: #eaeaea;
  font-family: 'OSS';
  text-transform: uppercase;
}
#registrations #newUserTable thead th {
  height: 44px;
  line-height: 44px;
}
#registrations #newUserTable td {
  font-family: 'OSR';
  line-height: 36px;
}
#registrations #newUserTable td.rCheck input[type="checkbox"] {
  display: none;
}
#registrations #newUserTable td.rCheck label {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #909090;
  position: relative;
  cursor: pointer;
  margin: 10px auto 0;
}
#registrations #newUserTable td.rCheck input[type="checkbox"]:checked + label {
  border: 1px solid #666666;
}
#registrations #newUserTable td.rCheck input[type="checkbox"]:checked + label:after {
  content: '';
  background: url("../images/check.png") no-repeat center;
  height: 13px;
  width: 17px;
  position: absolute;
  top: 5px;
  left: 2px;
}
#registrations #newUserTable th,
#registrations #newUserTable td {
  border: 2px solid #d0d0d1;
  text-align: center;
  color: #3d3d3d;
  font-size: 16px;
}
#addTemplateContainer {
  width: 100%;
  position: absolute;
  z-index: 1005;
  background: rgba(0, 0, 0, 0.76);
}
#addTemplateContainer .addItemLeft {
  float: left;
  min-height: 610px;
  padding: 20px 40px 0;
  width: calc(31.1% - 80px);
  margin-left: 6.8%;
  position: relative;
}
#addTemplateContainer .addItemLeft h2 {
  font-family: 'OSS';
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}
#addTemplateContainer .addItemLeft .closeCurrentView {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #7c7b7b;
  background: none;
  border: none;
}
#addTemplateContainer .addItemLeft div.uploadFile {
  overflow: hidden;
}
#addTemplateContainer .addItemLeft div.uploadFile input {
  width: 52% !important;
  float: left;
}
#addTemplateContainer .addItemLeft div.uploadFile label.browse {
  width: 37%;
  float: right;
  color: #fff;
  background: #878787;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#addTemplateContainer .addItemLeft div label {
  font-family: 'OSS';
  font-size: 16px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
#addTemplateContainer .addItemLeft div input[type="text"] {
  background: #eaeaea;
  height: 50px;
  width: 92%;
  line-height: 50px;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
#addTemplateContainer .addItemLeft div input[type="button"] {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
  margin-top: 40px;
}
#addTemplateContainer .addItemLeft div #addNewLink {
  position: relative;
}
#addTemplateContainer .addItemLeft div #addNewLink:after {
  content: '+';
  position: absolute;
  background: #eaeaea;
  border-radius: 50%;
  bottom: 11px;
  color: #e31937;
  height: 25px;
  line-height: 22px;
  right: 10px;
  text-align: center;
  width: 25px;
  font-size: 23px;
}
#addTemplateContainer .addItemLeft div a.short_text {
  background: url('../images/edit-ico.png') no-repeat 96% 50% #eaeaea;
  display: block;
  height: 50px;
  width: 92%;
  outline: none;
  line-height: 50px;
  padding: 0 4%;
  text-decoration: none;
  margin-top: 14px;
  color: #3d3d3d;
}
#addTemplateContainer .addItemLeft div a.short_text:hover {
  background-image: url('../images/edit-active-ico.png');
}
#addTemplateContainer .addItemRight {
  float: left;
  width: calc(31% - 80px);
  min-height: 610px;
  padding: 20px 40px 0;
  background: #fff;
  position: relative;
}
#addTemplateContainer .addItemRight h2 {
  font-family: 'OSS';
  font-size: 24px;
  color: #7c7b7b;
  padding-bottom: 15px;
}
#addTemplateContainer .addItemRight .closeCurrentView {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #7c7b7b;
  background: none;
  border: none;
}
#addTemplateContainer .addItemRight div {
  position: relative;
}
#addTemplateContainer .addItemRight div label {
  font-family: 'OSS';
  font-size: 16px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
#addTemplateContainer .addItemRight div input[type="text"] {
  background: #eaeaea;
  height: 50px;
  width: 92%;
  line-height: 50px;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
#addTemplateContainer .addItemRight div textarea {
  background: #eaeaea;
  height: 412px;
  width: 92%;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
#addTemplateContainer .addItemRight div button#saveButton,
#addTemplateContainer .addItemRight div input#descriptBtn {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
  margin-top: 40px;
}
#addTemplateContainer .addItemRight div a.short_text {
  background: url('../images/edit-ico.png') no-repeat 96% 50% #eaeaea;
  display: block;
  height: 50px;
  width: 92%;
  outline: none;
  line-height: 50px;
  padding: 0 4%;
  text-decoration: none;
  margin-top: 14px;
  color: #3d3d3d;
}
#addTemplateContainer .addItemRight div a.short_text:hover {
  background-image: url('../images/edit-active-ico.png');
}
#addTemplateContainer .addItemRight div #addingBut {
  position: absolute;
  background: #eaeaea;
  border-radius: 50%;
  bottom: 11px;
  color: #e31937;
  height: 25px;
  line-height: 22px;
  right: -33px;
  text-align: center;
  width: 25px;
  font-size: 23px;
  border: none;
}
#addTemplateContainer .addItemRight #linksTable {
  width: 100%;
  border: 1px solid #d0d0d1;
  margin-top: 20px;
}
#addTemplateContainer .addItemRight #linksTable thead {
  background: #eaeaea;
  font-family: 'OSS';
  text-transform: uppercase;
}
#addTemplateContainer .addItemRight #linksTable thead th {
  height: 44px;
  line-height: 44px;
}
#addTemplateContainer .addItemRight #linksTable th,
#addTemplateContainer .addItemRight #linksTable td {
  border: 2px solid #d0d0d1;
  color: #3d3d3d;
  font-size: 16px;
  text-align: center;
}
#addTemplateContainer .addItemRight #linksTable td {
  font-family: 'OSR';
  line-height: 36px;
}
#div_main .addItemLeft {
  float: left;
  min-height: 610px;
  padding: 20px 40px 0;
  width: calc(31.1% - 80px);
  position: relative;
  background: #3d3d3d;
}
#div_main .addItemLeft h2 {
  font-family: 'OSS';
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}
#div_main .addItemLeft input[type="button"] {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
  margin-top: 40px;
}
#createDocContainer > div {
  float: left;
  min-height: 610px;
  padding: 20px 40px 0;
  width: calc(31.1% - 80px);
  position: relative;
  background: #3d3d3d;
}
#createDocContainer > div h2 {
  font-family: 'OSS';
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 15px;
}
#createDocContainer > div .closeCurrentView {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #7c7b7b;
  background: none;
  border: none;
}
#createDocContainer > div div label {
  font-family: 'OSS';
  font-size: 16px;
  color: #7c7b7b;
  margin-bottom: 8px;
  display: block;
}
#createDocContainer > div div input[type="text"] {
  background: #eaeaea;
  height: 50px;
  width: 92%;
  line-height: 50px;
  padding: 0 4%;
  border: none;
  margin-bottom: 14px;
}
#createDocContainer > div div input[type="button"] {
  width: 48%;
  text-align: center;
  color: #fff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  border: none;
  background: #878787;
  margin-top: 40px;
  float: left;
}
#createDocContainer > div div input[type="button"]#createBtnNext {
  float: right;
}
#acceptBtn {
  width: auto;
  text-align: center;
  color: #ffffff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  padding: 0 45px;
  border: none;
  margin: 22px auto 0;
  background: #e31937;
  display: block;
}
#acceptBtn:hover {
  background: #878787;
}
.canvasDialog {
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  width: 450px !important;
}
.canvasDialog .ui-dialog-titlebar {
  background: #e31937;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  height: 60px;
}
.canvasDialog .ui-dialog-titlebar .ui-button {
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  background: none !important;
  margin-right: 15px;
  outline: none !important;
}
.canvasDialog .ui-dialog-titlebar .ui-button .ui-icon {
  background: url("../images/close-ico.png") no-repeat center center;
}
.canvasDialog #ui-id-1 {
  padding: 0 0 22px;
  border: 1px solid #d0d0d0;
}
.canvasDialog #ui-id-1 canvas {
  cursor: pointer;
  margin: 33px 60px 33px 67px;
  border-radius: 10px;
  width: 305px;
  border-color: #d0d0d1;
}
.canvasDialog #ui-id-1 button {
  width: 161px;
  text-align: center;
  color: #ffffff;
  font-family: 'OSE';
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  margin-left: 40px;
  border: none;
  background: #878787;
  display: block;
  float: left;
  outline: none !important;
}
.canvasDialog #ui-id-1 button:hover {
  background: #e31937;
}
