body {
  //padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leftMenu {
  width: 100px;
  height: 900px;
  float: left;
  background-color: #696969;
  display: none;
  padding: 0 10px;
}

#topMenu {
  background-color: #696969;
  display: block;
  height: 50px;
  padding: 15px;
}

#profileTop {
  margin-left: 500px;
  float: left;
}

#buttonLogout {
  display: block;
  float: right;
}

#companySpan {
  display: block;
  float: left;
}

#loginDiv {
  top: 50%;
  left: 50%;
  height: 440px;
  width: 460px;
  position: absolute;
  margin-top: -170px;
  margin-left: -230px;
}

#logInForm {
  padding: 20px;
  border: 4px double black;
}

#signUpDiv {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
  padding: 20px;
  border: 4px double black;
}

#addUserForm {
  border: 4px double black;
  height: 200px;
  width: 500px;
  padding: 20px 30px;
  margin: 0px 140px;
}

#wrapper {
  margin: 20px;
  float: left;
}

#addUserContainer {
  margin: 0px 0px 20px;
}

#usersTable {
  width: 850px;
}

.dialogWindow {
  border: 4px double black;
  background-color: white;
  position: fixed !important;
}

.tabs {
  margin: 0;
  padding: 0;
}

.tabs li {

}

.tabs li a{
  color: #9E9E9E;
}

.tabs li a.active {
  color: #0a13cc !important;
}

.tabs-items {
  display: table-cell;
  border-left: 2px solid #e5e5e5;
}

.tabs-items .tabs-item {
  display: none;
}

.tabs-items .openTab {
  display: block !important;
}

.navBut.active {
  color: #0a13cc !important;
}

.userRow.active {
  background-color: #E0E3EF;
}