body,html {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#leftMenu {
  width: 8%;
  height: 900px;
  float: left;
  display: none;
  div {
    margin-top: 40px;
  }
}
#topMenu {
  height: 80px;
}

#leftTopBar {
  background-color: #e31937;
  width: 35%;
  height: 100%;
  float: left;
  /* display: block; */
  padding: 0px;
  margin: 0px;
}

#middleTopBar {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #7c7b7b;
  span {
    margin-left: 10px;
  }
}

#rightTopBar {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #3d3d3d;
}

#profileTop {
  float: left;
  line-height: 40px;
}
#profileTop a {
  float: right;
}
#buttonLogout {
  display: block;
  float: right;
}
#companySpan {
  display: block;
  float: left;
}
#loginDiv {
  top: 50%;
  left: 50%;
  height: 440px;
  width: 460px;
  position: absolute;
  margin-top: -170px;
  margin-left: -230px;
}
#logInForm {
  padding: 20px;
  border: 4px double black;
}
#signUpDiv {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
  padding: 20px;
  border: 4px double black;
  text-align: center;
}
#signUpDiv input {
  margin: 10px 10px;
}
#addUserForm {
  border: 1px solid black;
  height: 200px;
  width: 27%;
  padding: 20px 30px;
}

//#addTemplateContainer {
//  display: none;
//}

#adminClient {
  border-bottom: 1px solid;
}

#wrapper {

}

//#addItemLeft {
//  display: block;
//}

//#addItemRight {
//  display: block;
//}

.addItemLeft {
  width: 27%;
  height: 600px;
  float: left;
  background-color: #3d3d3d;
  color: #eaeaea;
  display: block;
  div {
    margin: 10px;

    label {
      float:left;
    }
  }
}

.addItemRight {
  width: 30%;
  height: 600px;
  float: left;
  background-color: lightgrey;
  display: block;
  div {
    margin: 10px;

    label {
      float:left;
    }
  }
}

#documents #searchContainer.hidden {
  display: none;
}

#documents .buttons {
  float: right;
}
#documents #templateList, #documents #documentList {
  display: block;
  padding: 10px;
}

#documents #templateList {
  float: left;
  border-right: 1px solid #333;
}

#documents #documentList {
  float: right;
}
#documents .templateName:hover, #documents .documentItem {
  cursor: pointer;
}
#documents .active {
  text-decoration: underline;
}

#addUserContainer {

}
#tableDiv {
  float: left;
  display: block;
  width: 59%;
  margin: 35px;
}
#usersTable {
  width: 100%;
}
.dialogWindow {
  border: 4px double black;
  background-color: white;
  position: fixed !important;
}
.tabs {
  margin: 0;
  padding: 0;
}
.tabs li a {
  color: #9E9E9E;
}
.tabs li a.active {
  color: #0a13cc !important;
}
.tabs-items {
  display: table-cell;
  border-left: 2px solid #e5e5e5;
}
.tabs-items .tabs-item {
  display: none;
}
.tabs-items .openTab {
  display: block !important;
}
.navBut.active {
  color: #0a13cc !important;
}

.userRow.notActiv {
  color: darkgrey;
}

.tempGrid {
  border-bottom: 1px solid black;
  width: 100px;
  height: 120px;
  display: block;
  float: left;
  margin: 10px 10px;
  text-align: center;
}

.docGrid {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin: 10px 10px;
}
.canvasDialog {
  border: 2px solid black;
}
.canvasDialog canvas {
  border: 2px solid black;
}

#iWantContainer {
}

#iWantTo {
  background-color: white;
  border: 1px solid;
  position: absolute;
}

#leftPreview {
  width: 57%;
  height: 600px;
  display: block;
  float: left;
}

#rightPreview {
  width: 35%;
  height: 600px;
}

#linksTable{
  position: relative;
  width: 100%;
}

#linkContainer {
  display: none;
}

#previewContainer {
  overflow-y: auto;
  height: 500px;
}

#createDoc {
  float: right;
  margin-top: 30px;
}

.withCheck {
  text-align: center;
}

#listWrap {
  float: left;
}

#selectedCompany {
  display: none;
}

#adminClient {
  span{
    position: relative;
    width: 50%;
    cursor: pointer;

    &:nth-child(2){
      float:right;
      text-align: right;
    }

    &.active {
      color : #e31937;
      border-bottom: 1px solid #e31937;
    }
  }
}

.selOnInput {
  cursor: pointer;
}

.userRow:hover {
  background-color: #eee;
}

.hideRow {
  display: none;
}