<h3>Add New Link Table</h3>
<input id="tabName" type="text" placeholder="Table Name"><button id="saveButton">Save</button>
<div id="addField"><span>Add field</span></div>
<table id="linksTable" border="1">
    <col width="60%">
    <col width="40%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody id="linksList">
        <tr class="editableRow">
            <td><input id="editName" type="text" placeholder="Name"></td>
            <td><input id="editCode" type="text" placeholder="Code"></td>
        </tr>
    </tbody>
</table>