<h3>Add New Link Table</h3>
<div>
    <input id="tabName" type="text" placeholder="Table Name">
</div>
<div id="addingBlock">
    <div>
        <label for="addingName">Link Field</label><br>
        <input type="text" placeholder="" id="addingName">
    </div>
    <div>
        <label for="addingCode">Code</label><br>
        <input type="text" placeholder="" id="addingCode">
    </div>
    <div>
        <label for="addingBase">Type</label><br>
        <input type="text" class="selOnInput" value="String" data-val="STRING" id="addingBase" disabled>
    </div>
    <ul id="baseLink">
        <!--container-->
    </ul>
    <input type="button" value="Add" id="addingBut">
</div>

<table id="linksTable" border="1">
    <col width="40%">
    <col width="20%">
    <col width="40%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>inTable</th>
    </tr>
    </thead>
    <tbody id="linksList">
        <!--<tr class="editableRow">-->
            <!--<td><input id="editName" type="text" placeholder="Name"></td>-->
            <!--<td><input id="editCode" type="text" placeholder="Code"></td>-->
            <!--<td><input id="editTable" type="text" placeholder="in Table"></td>-->
        <!--</tr>-->
    </tbody>
</table><br>
<div>
    <button id="saveButton">Save</button>
</div>