<ul class="doc-grid document-items">
    <%documents.forEach(function(doc){%>
    <li class="documentItem" data-val="<%= doc.status%>" data-id="<%=doc.id%>">
        <img src=".././images/bb.png">
        <span><%= doc.name%></span>
        <div class="documentInfo">
            <span>1) "<%= doc.name%>"</span>
            <span>2) Created at: <%= doc.created_at%></span>
            <span>3) Created by: <%= doc.assigned_id%></span>
            <span>4) Status: <%= doc.status%></span>
        </div>
    </li>
    <%})%>
</ul>


