<div id="documents">

    <div id="searchContainer" class="addItemLeft">

        <div class="search">
            <p>Search</p>
            <label>Title<input type="text" class="templateName"></label><br>
            <label>Created by<input type="text" class="userName"></label><br>
            Created<br>
            <label>From<input type="text" class="fromDate"></label>
            <label>To<input type="text" class="toDate"></label><br>
        </div>
        <div class="filter">
            <p>Status</p>
            <input id="f0" type="radio" name="status" class="filterStatus" value="all" checked="checked" ><label for="f0">All</label><br>
            <input id="f1" type="radio" name="status" class="filterStatus" value="1"><label for="f1">WIP</label><br>
            <input id="f2" type="radio" name="status" class="filterStatus" value="2"><label for="f2">Waiting for internal signature</label><br>
            <input id="f3" type="radio" name="status" class="filterStatus" value="3"><label for="f3">Not signed</label><br>
            <input id="f4" type="radio" name="status" class="filterStatus" value="4"><label for="f4">Executed</label><br>
        </div>
        <div class="sort">
            <p>Sort</p>
            <input id="s1" type="radio" name="sort" value="name" class="orderBy"><label for="s1">Title</label><br>
            <input id="s2" type="radio" name="sort" value="created_at" class="orderBy" checked="checked"><label for="s2">Date creation</label><br>

            <p>Order</p>
            <input id="s3" type="radio" name="order" value="ASC" checked="checked" class="order"><label for="s3">A-Z</label><br>
            <input id="s4" type="radio" name="order" value="DESC" class="order"><label for="s4">Z-A</label><br>
        </div>

        <input class="searchBtn" type="submit" value="Search"/>
    </div>

    <div class="topButtons">
        <button class="filters">Filter</button>
        <button data-id="list" class="btnViewType">List View</button>
        <button data-id="grid" class="btnViewType">Grid View</button>
    </div>

    <div id="templateList" class="addItemRight"></div>
    <div id="documentList"></div>


</div>
