<ul>
    <%templates.forEach(function(temp){%>
        <%if (temp.count > 0){%>
            <li class="templateItem" data-id="<%=temp.id%>">
                <div class="templateListName">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="32" height="32" viewBox="0 0 32 32">
                        <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAmVBMVEUAAADd3d3b29vb29vY2Nj////JycnLy8vAwMB9fX19fX19fX19fX3b29vd3d3c3NzZ2dnZ2dnKysqRkZF9fX3////u7u7p6en5+fnh4eHc3Nzz8/P9/f3+/v6urq76+vrl5eV9fX3y8vL09PT8/Pz4+Pjw8PDi4uL29vbk5OTo6Oj39/f19fXf39/e3t7r6+v7+/usrKwAAAAhwxhxAAAAFXRSTlMAeeXo1iCcoLkCmPjc6vT1/P78zDbydIabAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAMBJREFUOMvN010bQjAUwPGh93fVUKNpQlLS9/9ymbJRp+mii34XbvwfzpkH0nTjs04XIR2r9BAylEG/DCwb5lTBZgsjVYBdkFfcGQxbZtiN2oIxD6j/QDEmvmCXwZ4H7DlUgPEhEEIweHvFaxDJJWP4Cc0tgRmOgiMDmsRcwreIhZMMVOfwN4HLCqnHms4ySC9ZltmUX2uSX87gXCGWDLwcVPsWEYTJIGcQUjuHEEK/HVL9894mSJvOYPOFaS5X6zvkFmTawvhPjQAAAABJRU5ErkJggg==" width="32" height="32"/>
                    </svg>
                    <%=temp.name%> (<%=temp.count%>)
                </div>
            </li>
        <%}%>
    <%})%>
</ul>
