<div id="forgotDiv" class="welcome-pages">
    <a href="#"><img src="../../images/logo.png" alt=""/></a>
    <div class="welcome-form">
        <h1>Forgot password</h1>
        <div id="innerForgot" class="form-body">
            <p>Please provide email adress to get recovery password</p>
            <div class="form-field">
                <input type="email" id="currentEmail" placeholder="Email">
            </div>
            <input type="button" id="sendPass" value="Send recovery password">
            <span class="hideRow">Go back to <a href="#login">Sign in</a></span>
        </div>
    </div>
</div>