
<h2>Add a Template</h2>

    <div><input type="text" id="tempName" placeholder="Name"></div>


    <div>
        <!--<input type="text" id="tempFile" placeholder="File(Upload DOCX)">-->
        <!--<input type="button" id="loadFileBut" value="Browse">-->
        <input type="file" id="tempFile" placeholder="File(Upload DOCX)">
        <!--<input type="button" id="loadFileBut" value="Browse">-->
    </div>

    <div>
        <input type="text" id="tempLogo" placeholder="Logo">
        <input type="button" id="loadLogo" value="Browse">
    </div>

    <div>
        <input type="text" id="tempLinkTable" placeholder="Link Table">
        <div id="linkContainer">
            <!--link names container-->
        </div>
    </div>

    <div>
        <input type="text" id="tempLink" placeholder="Link to Template">
    </div>

    <div id="linksFields">
        <!--link fields container-->
    </div>