
<h2><%= edit ? 'Edit Template' : 'Add Template'%></h2>
    <button class="closeCurrentView">X</button>

    <form enctype="multipart/form-data" id="addTempForm" action="">

        <div>
            <label for="tempName">Document title</label>
            <input type="text" id="tempName" name="name" value="<%= edit && tempModel.name ? tempModel.name : ''%>" placeholder="ie: Agreement">
        </div>

        <div>
            <label for="tempFile">Upload file</label>
            <input type="file" id="tempFile" name="templateFile" style="display: none">
            <input type="text" id="fakeTempFile" value="<%= edit && tempModel.templateFile.url ? _.last(tempModel.templateFile.url.split('/')) : ''%>" disabled><label for="tempFile">Browse</label>
        </div>

        <div>
            <div class="sel_container">
                <a href="javascript:;" id="tempLinkedTemp" class="sel_result" data-id="0"><%= edit && tempModel.linkedTemplates[0] ? tempModel.linkedTemplates[0].name : 'Linked template'%></a>
                <ul id="tempNames" class="sel_list">
                </ul>
            </div>
        </div>

        <div>
            <div class="sel_container">
                <a href="javascript:;" id="tempLinkTable" class="sel_result" data-id="0"><%= edit && tempModel.link.name ? tempModel.link.name : 'Link Table'%></a>
                <ul id="linkContainer" class="sel_list">
                </ul>
            </div>
        </div>


        <div>
            <!--<input type="button" id="tempDescription" value="Description">-->
            <a href="javascript:;" id="tempDescription" class="short_text" data-id="0">Description</a>
        </div>

        <div>
            <a href="javascript:;" id="tempMarketing" class="short_text" data-id="0">Marketing</a>
        </div>

        <div>
        <input type="button" id="tempSave" value="Save">
        </div>

    </form>