
<h2>Add a Template</h2>
    <button class="closeCurrentView">X</button>

    <form enctype="multipart/form-data" id="addTempForm" action="">

        <div>
        <input type="text" id="tempName" name="name">
        </div>

        <div>
            <input type="file" id="tempFile" name="templateFile">
        </div>

        <div>
            <input type="text" id="tempLinkedTemp" placeholder="Linked template">
            <div id="tempNames">
                <!--Templates names-->
            </div>
        </div>

        <div>
        <!--<span id="tempLinkTable">Add Link Table</span>-->
        <input type="text" class="selOnInput" id="tempLinkTable" placeholder="Add Link Table" readonly>
        <input type="hidden" id="fakeLinkTable" name="link_id">
        <div id="linkContainer">
            <!--link names container-->
        </div>
        </div>

        <div>
            <textarea id="tempDescription" name="description" placeholder="Description"></textarea>
        </div>

        <div>
        <input type="button" id="tempSave" value="Save">
        </div>

    </form>