<div id="addItemRight" class="addItemRight">
    <% if (descrip === 'description'){%>
        <h2>Edit description</h2>
    <%} else {%>
        <h2>Edit marketing info</h2>
    <%}%>
    <button class="closeCurrentView">X</button>
    <div>
        <label for="descriptBtnArea">Summary about the document:</label>
        <textarea id="descriptBtnArea"><%= text ? text : ''%></textarea>
    </div>
    <div>
        <input type="button" id="descriptBtn" data-id="<%= descrip%>" value="Save">
    </div>
</div>