<div class="avatar">
    <!--<div class="upload">-->
        <input style="display: none" type="file" value="Edit" id="inputImg" accept="image/*">
    <!--</div>-->
    <canvas id="avatar" width="140" height="140"></canvas>
    <label for="inputImg">Replace picture</label>
</div>

<div id="profileInfo">
    <label for="profFName">First name:</label>
    <input id="profFName" type="text" value="<%= firstName %>">
    <label for="profLName">Last name:</label>
    <input id="profLName" type="text" value="<%= lastName %>">
    <label for="profPhone">Phone:</label>
    <input id="profPhone" type="text" value="<%= phone %>">
    <label for="company">Company:</label>
    <input id="company" type="text" value="<%= company %>">
</div>
<div>
    <label for="profCurPass">Current password</label>
    <input type="password" id="profCurPass">
</div>
<div>
    <label for="profPass">New password</label>
    <input type="password" id="profPass">
    <label for="profConfPass">Confirm password</label>
    <input type="password" id="profConfPass">
</div>
<input type="button" id="profSaveBut" value="Save profile">