<div class="loginBg">
    <div class="panel panel-default termsCond">
        <div class="panel-heading">Terms and conditions</div>
        <div class="panel-body">
            Some text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij i
            Some text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij i
            Some text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij iSome text iuy yhi yt ty hity
            jhiyj yi yioh joi oiy y i iy it
            yjh  ooih jooi yoy hoi oj o oiy oij
            oij oitj roi   jrptjh itj j.teohkpoytjhoiytoihjytoihy oiyih jy5toihjoi iy oiyu oiejyoi hjoiyuj oit oi yjhoi eyoiy oyoij i
        </div>
        <button id="acceptBtn">Accept</button>
    </div>
</div>