    <div id="adminClient">
        <span class="active" data-id="1">Admin</span>
        <span data-id="0">Client</span>
    </div>
    <div id="addNewUser">
        <span>ADD NEW USER</span>
        <p>*denotes required fields</p>
    </div>
    <div>
        <label for="addFName">First name*</label><br>
        <input type="text" id="addFName" placeholder="ie: John">
    </div>
    <div>
        <label for="addLName">Last name*</label><br>
        <input type="text" id="addLName" placeholder="ie: Smith">
    </div>
    <div>
        <label for="addEmail">Email Address*</label><br>
        <input type="email" id="addEmail" placeholder="ie : yohnsmith@mail.com">
    </div>
    <div>
    <label for="addPhone">Phone</label><br>
    <input type="text" id="addPhone" placeholder="ie: +380000000000">
    </div>
    <div>
    <select id="addRole">
        <option data-id="3" selected >Viewer</option>
        <option data-id="2">Editor</option>
        <%if (role === 0){%>
        <option data-id="1">Admin</option>
        <%}%>
    </select>
    <a href="javascript:;" id="selectedCompany" data-id="0">Select Company</a>
    <div id="companyContainer">
        <ul id="companyNames">
        </ul>
    </div>
    </div>
    <input type="button" id="addInvite" value="Invite">
