<%var permiss = usrMdl.profile.permissions%>
<td colspan="<%= usrMdl.currentState ? 5 : 6%>">
    <div>

        <!--left-->
        <div class="editUser-left">
            <!--first name -->
            <div>
                <label for="editFName">First name</label>
                <input type="text" id="editFName" class="first" value="<%= usrMdl.profile.first_name%>">
            </div>

            <!-- Matter Number -->
            <div>
                <label for="editLName">Matter Number</label>
                <input type="text" id="matterNumber" value="<%= usrMdl.id%>">
            </div>
        </div>

        <!-- center -->
        <div class="editUser-centerLeft">
            <!-- last name -->
            <div>
                <label for="editLName">Last name</label>
                <input type="text" id="editLName" value="<%= usrMdl.profile.last_name%>">
            </div>

            <!-- Signing Authorization -->
            <div class="check">
                <input type="checkbox" id="editSign" <%= usrMdl.profile.sign_authority ? 'checked' : ''%>>
                <label for="editSign"><span>Authorization to signing</span></label>
            </div>
        </div>

        <!-- right -->
        <div class="editUser-right">
            <!-- Role -->
            <div class="sel_container">
                <label for="role">Role</label>
                <a href="javascript:;" id="role" class="addRole sel_result" data-id="<%= permiss%>"><%= permiss % 10 === 3 ? 'Viewer' : (permiss % 10 === 2 ? 'Editor' : 'Admin')%></a>
                <ul class="sel_list">
                    <li class="sel_item" data-id="3">Viewer</li>
                    <li class="sel_item" data-id="2">Editor</li>
                    <%if (role === 0){%>
                    <li class="sel_item" data-id="1">Admin</li>
                    <%}%>
                </ul>
            </div>

            <!-- Status -->
            <div class="userStatus">
                <span class="active">Active</span><br>
                <span class="disable">Disable</span>
            </div>

            <!-- Save -->
            <input type="button" id="editBtn" value="Save">

        </div>
    </div>
</td>