<%var permiss = usrMdl.profile.permissions%>

<h3>Edit User</h3>
<div>
    <label for="editFName">First name</label><br>
    <input type="text" id="editFName" value="<%= usrMdl.profile.first_name%>">
</div>
<div>
    <label for="editLName">Last name</label><br>
    <input type="text" id="editLName" value="<%= usrMdl.profile.last_name%>">
</div>
<div>
    <label for="editEmail">Email Address*</label><br>
    <input type="email" id="editEmail" value="<%= usrMdl.email%>">
</div>
<div>
    <label for="editPhone">Phone</label><br>
    <input type="text" id="editPhone" value="<%= usrMdl.phone%>">
</div>
<div>
    <select id="editRole">
        <option data-id="3" <%= (permiss === 3) ? 'selected' : ''%> >Viewer</option>
        <option data-id="2" <%= (permiss === 2) ? 'selected' : ''%> >Editor</option>
        <%if (role === 0){%>
        <option data-id="1" <%= (permiss === 1) ? 'selected' : ''%> >Admin</option>
        <%}%>
    </select>
</div>
<div>
    <input type="button" id="editStatus" data-id="<%= usrMdl.status === '0' ? '1' : '0'%>" value="<%= usrMdl.status === '0' ? 'Enable' : 'Disable'%>">
</div>
<input type="button" id="editBtn" value="Edit">
