<div>
    <div class="addItemLeft" id="addUserContainer">
        <% if (company === 1){%>
        <div id="adminClient">
            <span class="active" data-id="1">Admin</span>
            <span data-id="0">Client</span>
        </div>
        <%}%>
        <div class="centerBlock">
            <div>
                <div id="addNewUser">
                    <h2>ADD NEW USER</h2>
                    <p>*denotes required fields</p>
                </div>
                <div>
                    <label for="addFName">First name*</label>
                    <input type="text" id="addFName" placeholder="ie: John">
                </div>
                <div>
                    <label for="addLName">Last name*</label>
                    <input type="text" id="addLName" placeholder="ie: Smith">
                </div>
                <div>
                    <label for="addEmail">Email Address*</label>
                    <input type="email" id="addEmail" placeholder="ie : johnsmith@mail.com">
                </div>
                <div class="oneRow">
                    <div>
                        <label for="addPhone">Matter Number</label>
                        <input type="text" id="addPhone" placeholder="ie: +380000000000">
                    </div>
                    <div>
                        <label for="matterNumber">Matter Number</label>
                        <input type="text" id="matterNumber" placeholder="ie: 0000000">
                    </div>
                </div>
                <div class="addSelects">
                    <div id="hideCompany" class="sel_container hide">
                        <label for="selectedCompany">Company</label>
                        <a href="javascript:;" id="selectedCompany" class="sel_result" data-id="0">Select Company</a>
                        <ul id="companyNames" class="sel_list">
                        </ul>
                    </div>
                    <div class="sel_container">
                        <label for="addRole">Role</label>
                        <a href="javascript:;" id="addRole" class="addRole sel_result" data-id="3">Viewer</a>
                        <ul class="sel_list">
                            <li class="sel_item" data-id="3">Viewer</li>
                            <li class="sel_item" data-id="2">Editor</li>
                            <%if (role === 0){%>
                            <li class="sel_item" data-id="1">Admin</li>
                            <%}%>
                        </ul>
                    </div>
                </div>
                <div class="inviteBtn"><input type="button" id="addInvite" value="Invite"></div>
            </div>
        </div>
    </div>
    <div id="tableDiv">
        <div id="searchBox">
            <button class="searchIcn">
                <svg viewBox="0 0 24 24" height="24" width="24">
                    <path class="cls-1" d="M23.839,23.839 C23.633,24.046 23.298,24.046 23.091,23.839 L18.415,19.163 C18.676,18.925 18.925,18.676 19.163,18.415 L23.839,23.091 C24.046,23.298 24.046,23.633 23.839,23.839 ZM10.579,21.157 C4.736,21.157 -0.000,16.421 -0.000,10.579 C-0.000,4.736 4.736,-0.000 10.579,-0.000 C16.421,-0.000 21.157,4.736 21.157,10.579 C21.157,16.421 16.421,21.157 10.579,21.157 ZM10.579,1.058 C5.320,1.058 1.058,5.320 1.058,10.579 C1.058,15.837 5.320,20.099 10.579,20.099 C15.837,20.099 20.099,15.837 20.099,10.579 C20.099,5.320 15.837,1.058 10.579,1.058 Z"/>
                </svg>
            </button>
            <input id="search" type="text" placeholder="ie: John"/>
        </div>
        <div id="tablesContent">
        <table id="usersTable" border="1">
            <thead>
            <tr class="sortUp">
                <th class="sortableData letsSort" data-sort="first_name" width="12%">FIRST NAME</th>
                <th class="sortableData" data-sort="last_name" width="12%">LAST NAME</th>
                <!--<% if (true) {%>-->
                    <!--<th class="sortableData" data-sort="company_name" width="12%">COMPANY</th>-->
                <!--<%}%>-->
                <th width="10%">ROLE</th>
                <th width="8%">SIGNING</th>
                <th width="25%">EMAIL</th>
                <th width="10%">STATUS</th>
            </tr>
            </thead>
            <tbody id="listTable">
            </tbody>
        </table>
        </div>
    </div>
</div>