<thead>
<tr>
    <th class="sortableData" data-sort="name">NAME</th>
    <% if (!state) {%>
        <th class="sortableData" data-sort="company">COMPANY</th>
    <%}%>
    <th class="sortableData" data-sort="role">ROLE</th>
    <th data-sort="signing">SIGNING</th>
    <th>DESCRIPTION</th>
</tr>
</thead>
<tbody id="listTable">
<tr>
    <div></div>
</tr>

<% usrLst.forEach(function(user){%>

<tr class="userRow <%=!user.status ? 'notActiv' : ''%>" data-id="<%= user.id%>">
    <td class="rName"><%= user.profile.first_name%> <%= user.profile.last_name%></td>
    <% if (!state && user.company[0]) {%>
        <td class="rComp"><%= user.company[0].name%></td>
    <%}%>
    <td class="rRole">
        <%if (user.profile.permissions === 3){%>Viewer<%}%>
        <%if (user.profile.permissions === 2){%>Editor<%}%>
        <%if (user.profile.permissions === 1){%>Admin<%}%>
    </td>
    <td class="rCheck">
        <input type="checkbox" <%= user.profile.sign_authority ? 'checked' : ''%> disabled>
    </td>
    <td class="rDisk">
        <%if (user.profile.permissions === 3){%>Can view but not edit<%}%>
    </td>
</tr>

<% }) %>

</tbody>

