<nav class="sidebar-menu">
    <ul>
        <li><a href="#users" role="button" class="navBut ico-user"><img src="../../images/ico-users-active.png" alt=""/><span>Users</span></a></li>
        <li><a href="#documents/list" role="button" class="navBut">Documents</a></li>
        <li><a href="#templates/grid" role="button" class="navBut">Templates</a></li>
        <li><a href="#taskList" role="button" class="navBut">Task List</a></li>
        <li><a href="#settings" role="button" class="navBut">Settings</a></li>
        <li><a href="#help" role="button" class="navBut"><img src="../../images/ico-help-active.png" alt=""/><span>Help</span></a></li>
    </ul>
</nav>