<nav class="sidebar-menu">
    <ul>
        <li><a href="#newUsers" id="nav_nUser" role="button" class="navBut">New Users</a><span class="registrationsBadge"></span></li>
        <li><a href="#users" id="nav_users" role="button" class="navBut"><img src="../../images/ico-users-active.png" alt=""/><span>Users</span></a></li>
        <li><a href="#documents/list" id="nav_document" role="button" class="navBut">Documents</a></li>
        <li><a href="#templates/grid" id="nav_template" role="button" class="navBut">Templates</a></li>
        <li><a href="#taskList" id="nav_task" role="button" class="navBut">Task List</a></li>
        <li><a href="#settings" id="nav_setting" role="button" class="navBut">Settings</a></li>
        <li><a href="#help" id="nav_help" role="button" class="navBut"><img src="../../images/ico-help-active.png" alt=""/><span>Help</span></a></li>
    </ul>
</nav>