<div id="leftTopBar">
    <span id="companySpan"><img src="../../images/logo-inside.png" alt="inside-logo"/></span>
    <a href="#">Contact Us</a>
</div>
<div id="middleTopBar">
    <span>I want to...</span>
</div>

<div id="rightTopBar">
    <div id="profileTop">
        <img id="topBarLogo" src="<%= avatar ? avatar : ''%>">
        <a href="#userProfile">
            <div class="userName"><%= first_name%> <%= last_name%></div>
        </a>
    </div>
    <input type="button" value="Log out" id="buttonLogout">
</div>





