<div class="addRecipientForm closed">
    <button class="closeCurrentView">X</button>
    <h2>New Recipient</h2>

    <!-- first name -->
    <div>
        <label for="createNewFN">First Name</label>
        <input id="createNewFN" type="text" placeholder="ie: John">
    </div>

    <!-- last name -->
    <div>
        <label for="createNewLN">Last Name</label>
        <input id="createNewLN" type="text" placeholder="ie: Smith">
    </div>

    <!-- email -->
    <div>
        <label for="createNewEM">Email</label>
        <input id="createNewEM" type="text" placeholder="ie: john.simth@mail.com">
    </div>

    <!-- button -->
    <div>
        <input id="createNewBtn" type="button" value="Save">
    </div>
</div>