

<h2><%= tName%></h2>

<div>
    <label for="createEmployee">Employee</label>
    <input id="createEmployee" type="text" autocomplete="on">
</div>

<button id="addRecipient">+</button>

<%links.forEach(function(field){%>
<div>
    <label for="<%=field.id_%>"><%=field.name_%></label>
    <input type="text" id="<%=field.id_%>" class="<%=field.class_%>" data-id="<%= field.type_ ? field.type_ : ''%>" value="<%= field.value_ ? field.value_ : ''%>">
</div>
<%})%>

<div>
    <input type="button" id="createBtnSave" value="Save">
    <input type="button" id="createBtnNext" value="Next">
</div>
<div id="reAsignContainer"></div>